{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags widget_tweaks %}
{% block title %}Home{% endblock %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
   
{% endblock extra_css %}

{% block content %}

    {% if page.carousel_items %}
        <!-- Carousel Start -->
        <div class="container-fluid p-0 pb-5">
            <div class="owl-carousel header-carousel position-relative">
                {% for carousel in page.carousel_items.all %}
                    <div class="owl-carousel-item position-relative">
                        {% image carousel.image original as img_carousel %}
                        <img class="img-fluid" src="{{ img_carousel.url }}" alt="">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                             style="background: rgba(53, 53, 53, .7);">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-8 text-center">
                                        {% if carousel.caption_2 %}
                                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">{{ carousel.caption }}</h5>
                                            <h1 class="display-3 text-white animated slideInDown mb-4">{{ carousel.caption_2 }}</h1>
                                        {% else %}
                                            <h1 class="display-3 text-white animated slideInDown mb-4">{{ carousel.caption }}</h1>
                                        {% endif %}
                                        <a href="#about"
                                           class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInUp">Read
                                            More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Carousel End -->
    {% endif %}


    {% if about %}
        <!-- About Start -->
        <div class="container-fluid overflow-hidden px-lg-0 my-5" id="about">
            <div class="container about px-lg-0">
                <div class="row g-0 mx-lg-0">
                    <div class="col-lg-6 about-text py-5">
                        <div class="p-lg-5 pe-lg-0">
                            <span class="bg-primary p-2 display-5 text-white wow fadeInLeft"
                                  data-wow-delay="0.5s">{{ about.intro_first }}</span>
                            <div class="text-end mt-2 mb-3">
                                <span class="display-5 p-2 wow fadeInRight"
                                      data-wow-delay="1.7s">{{ about.intro_second }}</span>
                            </div>
                            {{ about.description_short | richtext }}
                            <a href="{% slugurl 'about' %}" class="btn btn-primary py-3 px-5 mt-3 ">Explore More</a>
                        </div>
                    </div>
                    <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                        <div class="h-100 text-center align-content-center wow fadeInRight">
                            {% image about.image original as about_img %}
                            <img class="img-fluid w-75 " src="{{ about_img.url }}"
                                    {#                             style="object-fit: cover;"#}
                                 alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- About End -->
    {% endif %}
    {% if about.fragments_information.all.count > 0 %}
        {% for frag in about.fragments_information.all %}
            <div class="container w-75 text-center py-5">
    <div class="row g-5 align-items-center">
        {% if forloop.counter0|divisibleby:2 %}
            <div class="col-lg-6">
                {% image frag.imagen original as img_frag %}
                <div class="image-container" style="width: 100%; padding-top: 100%; position: relative; overflow: hidden;">
                    <img class="img-fluid rounded wow fadeInLeft" src="{{ img_frag.url }}" alt=""
                         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">{{ frag.name }}</h1>
                <p class="mb-4">{{ frag.descripcion | richtext }}</p>
            </div>
        {% else %}
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">{{ frag.name }}</h1>
                <p class="mb-4">{{ frag.descripcion | richtext }}</p>
            </div>
            <div class="col-lg-6">
                {% image frag.imagen original as img_frag %}
                <div class="image-container" style="width: 100%; padding-top: 100%; position: relative; overflow: hidden;">
                    <img class="img-fluid rounded wow fadeInRight" src="{{ img_frag.url }}" alt=""
                         style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);">
                </div>
            </div>
        {% endif %}
    </div>
</div>
        {% endfor %}
    {% endif %}
    {% if services %}
        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container" id="services">
                <div class="section-title text-center">
                    <h1 class="display-5 mb-5">Our Services</h1>
                </div>
                <div class="row g-4">
                    {% for service in services %}
                        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item ">
                                <div class="overflow-hidden" style="width: 100%;height: 250px;overflow: hidden;">
                                    {% image service.image original as service_img %}
                                    <img class="img-fluid" src="{{ service_img.url }}" alt=""
                                         style="width: 100%;height: 100%;object-fit: cover;object-position: center;">
                                </div>
                                <div class="p-4 text-center border border-5 border-light border-top-0">
                                    <h4 class="mb-3">{{ service.name }}</h4>
                                    <p>{{ service.description_short | richtext }}.</p>
                                    <a class="fw-medium" href="{% pageurl service %}">Read More<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Service End -->
    {% endif %}
    {% if about.stats_items %}
        <div class="container-fluid p-2" style="background: #353535">
            <div class="row g-5 py-5">
                {% for stats in about.stats_items.all %}
                    <div class="col-12 col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                        <h1 class="display-5 text-white" data-toggle="counter-up">{{ stats.amount }}</h1>
                        <span class="fs-5 fw-semi-bold text-white">{{ stats.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">Our Projects</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">
                        <li class="mx-2 active" data-filter="*">All</li>
                        <li class="mx-2" data-filter=".first">General Carpentry</li>
                        <li class="mx-2" data-filter=".second">Custom Carpentry</li>
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio-1.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1"
                                   href="{% static 'img/portfolio-1.jpg' %}" data-lightbox="portfolio"><i
                                        class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">General Carpentry</p>
                            <h5 class="lh-base mb-0">Wooden Furniture Manufacturing And Remodeling</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio-2.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1"
                                   href="{% static 'img/portfolio-2.jpg' %}" data-lightbox="portfolio"><i
                                        class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">Custom Carpentry</p>
                            <h5 class="lh-base mb-0">Wooden Furniture Manufacturing And Remodeling</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio-3.jpg' %}" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1"
                                   href="{% static 'img/portfolio-3.jpg' %}" data-lightbox="portfolio"><i
                                        class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">General Carpentry</p>
                            <h5 class="lh-base mb-0">Wooden Furniture Manufacturing And Remodeling</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid position-relative py-5 my-5">
        <img class="d-none d-lg-block position-absolute top-0 start-0 mt-10"
             src="{% static 'img/green-dot-left-bars.svg' %}" alt="">
        <img class="d-none d-lg-block position-absolute top-0 end-0 mt-36"
             src="{% static 'img/yellow-dot-right-shield.svg' %}" alt="">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <h4 class="display-5 mb-2">Suscríbete</h4>
                <p class="fs-5">Suscribase para recibir información actualizada.</p>
                <form action="." method="post" class="bg-white">
                    <div class="position-relative w-100">
                        <input class="form-control bg-light border-light w-100 py-3 ps-4 pe-5" type="text"
                               placeholder="Correo">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">
                            Suscribirse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container quote px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/quote.jpg' %}"
                             style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <div class="section-title text-start">
                            <h1 class="display-5 mb-4">Free Quote</h1>
                        </div>
                        <p class="mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
                            amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat
                            amet</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Name"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Your Email"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Mobile"
                                           style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;">
                                        <option selected>Select A Service</option>
                                        <option value="1">Service 1</option>
                                        <option value="2">Service 2</option>
                                        <option value="3">Service 3</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" placeholder="Special Note"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">#}
    {#        <div class="modal-dialog modal-dialog-scrollable">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="modalTitle">Título del Modal</h5>#}
    {#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
    {#                </div>#}
    {#                <div class="modal-body" id="modalBody">#}
    {#                    Información del modal.#}
    {#                </div>#}
    {#                <div class="modal-footer">#}
    {#                    <div class="text-center">#}
    {#                        <a href="#" id="modalLink" class="btn btn-primary">Ver más detalles</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% endblock content %}
{% block extra_js %}
    {#    <script src="{% static 'lib/highmap/highmaps.js' %}"></script>#}
    {#    <script src="{% static 'lib/highmap/exporting.js' %}"></script>#}
    {#    <script src="{% static 'lib/highmap/accessibility.js' %}"></script>#}
    {##}
    {#    <script>#}
    {#        (async () => {#}
    {##}
    {#            const topology = await fetch(#}
    {#                'https://code.highcharts.com/mapdata/countries/us/us-fl-all.topo.json'#}
    {#            ).then(response => response.json());#}
    {##}
    {#            // Prepare demo data. The data is joined to map using value of 'hc-key'#}
    {#            // property by default. See API docs for 'joinBy' for more info on linking#}
    {#            // data and map.#}
    {#            const data = [#}
    {#                ['us-fl-131', 10], ['us-fl-087', 11], ['us-fl-053', 12],#}
    {#                ['us-fl-051', 13], ['us-fl-043', 14], ['us-fl-086', 15],#}
    {#                ['us-fl-037', 16], ['us-fl-097', 17], ['us-fl-093', 18],#}
    {#                ['us-fl-071', 19], ['us-fl-111', 20], ['us-fl-061', 21],#}
    {#                ['us-fl-085', 22], ['us-fl-021', 23], ['us-fl-049', 24],#}
    {#                ['us-fl-055', 25], ['us-fl-027', 26], ['us-fl-015', 27],#}
    {#                ['us-fl-009', 28], ['us-fl-095', 29], ['us-fl-129', 30],#}
    {#                ['us-fl-133', 31], ['us-fl-005', 32], ['us-fl-007', 33],#}
    {#                ['us-fl-107', 34], ['us-fl-031', 35], ['us-fl-003', 36],#}
    {#                ['us-fl-019', 37], ['us-fl-063', 38], ['us-fl-103', 39],#}
    {#                ['us-fl-057', 40], ['us-fl-035', 41], ['us-fl-045', 42],#}
    {#                ['us-fl-065', 43], ['us-fl-081', 44], ['us-fl-101', 45],#}
    {#                ['us-fl-115', 46], ['us-fl-073', 47], ['us-fl-033', 48],#}
    {#                ['us-fl-113', 49], ['us-fl-011', 50], ['us-fl-089', 51],#}
    {#                ['us-fl-077', 52], ['us-fl-105', 53], ['us-fl-041', 54],#}
    {#                ['us-fl-067', 55], ['us-fl-127', 56], ['us-fl-121', 57],#}
    {#                ['us-fl-083', 58], ['us-fl-017', 59], ['us-fl-075', 60],#}
    {#                ['us-fl-059', 61], ['us-fl-079', 62], ['us-fl-029', 63],#}
    {#                ['us-fl-117', 64], ['us-fl-069', 65], ['us-fl-091', 66],#}
    {#                ['us-fl-001', 67], ['us-fl-125', 68], ['us-fl-013', 69],#}
    {#                ['us-fl-123', 70], ['us-fl-119', 71], ['us-fl-109', 72],#}
    {#                ['us-fl-099', 73], ['us-fl-047', 74], ['us-fl-023', 75],#}
    {#                ['us-fl-039', 76]#}
    {#            ];#}
    {##}
    {#            // Create the chart#}
    {#            Highcharts.mapChart('map', {#}
    {#                chart: {#}
    {#                    map: topology,#}
    {#                    height: 700#}
    {#                },#}
    {##}
    {#                title: {#}
    {#                    text: 'Operamos en la Florida'#}
    {#                },#}
    {##}
    {#                mapNavigation: {#}
    {#                    enabled: true,#}
    {#                    buttonOptions: {#}
    {#                        verticalAlign: 'bottom'#}
    {#                    }#}
    {#                },#}
    {##}
    {#                colorAxis: {#}
    {#                    min: 0,#}
    {#                },#}
    {##}
    {#                series: [{#}
    {#                    data: data,#}
    {#                    name: 'Clientes',#}
    {#                    color: '#d94d3f',#}
    {#                    states: {#}
    {#                        hover: {#}
    {#                            color: '#d94d3f'#}
    {#                        }#}
    {#                    },#}
    {#                    dataLabels: {#}
    {#                        enabled: true,#}
    {#                        format: '{point.name}'#}
    {#                    },#}
    {#                    point: {#}
    {#                        events: {#}
    {#                            click: function () {#}
    {#                                mostrarResumenProvincia(this.detalle);#}
    {#                            }#}
    {#                        }#}
    {#                    }#}
    {#                }]#}
    {#            });#}
    {##}
    {#        })();#}
    {##}
    {#        function mostrarResumenProvincia(detalle) {#}
    {#            const modalTitle = document.getElementById('modalTitle');#}
    {#            const modalBody = document.getElementById('modalBody');#}
    {#            const modalLink = document.getElementById('modalLink');#}
    {##}
    {#            modalTitle.textContent = `Resumen sobre`;#}
    {#            modalBody.innerHTML = `Hola`;#}
    {#            modalLink.href = `#seccion_acciones`;#}
    {##}
    {#            $('#infoModal').modal('show');#}
    {#        }#}
    {#    </script>#}
{% endblock %}