{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block title %} {{ page.title }}
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block breadcumb %}
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">{{ page.title }}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="/">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">{{ page.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid px-lg-0">
        <div class="container px-lg-0">
            {% for block in page.content_extra %}
                {% if block.block_type == 'table' %}
                    {% include_block value.bound_blocks.table %}
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}